<header  id="header" >
  <div  class="header_back" backstretch backstretch-images="'images/bg.jpg'"></div>
  <div class="sp-overlay sp-overlay-color " ></div>
    <div class="container">
          <div class="row">
            <div class="col-xs-4 sp-logo ">
              <a  href="#/home" title="">
                <img src="images/svg/logo.svg" alt="" />
              </a>
            </div>
            <div class="col-xs-8 sp-menu">
              <ul>
                <li><a ng-click="scrollTo('showcase')" href="">Showcase</a></li>
                <li><a ng-click="scrollTo('features')" href="">Features</a></li>
                <li><a ng-click="scrollTo('pricing_table')" href="">Pricing</a></li>
                <li><a  ng-click="scrollTo('contact')" href="">Contact</a></li>
                <li class="separator"></li>
                <li ><a ui-sref="login_page"><i class="fa fa-sign-in"></i> Login </a></li>
                <li ><a ui-sref="register_page"><i class="fa fa-user-plus"></i> Sign up </a></li>
              </ul>
            </div>
          </div>



          <div class="row">
            <div class="col-md-5 col-sm-7 sp-header-texts">
              <h2>Introducing <span>Atom</span>.</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at lacus tempus, commodo risus et, dictum lectus.</p>
              <p>
                Test auto deploy
              </p>
            </div>
          </div>



          <div class="row">
            <div class="col-sm-6 sp-buttons">
              <a href="#">Buy now</a><a href="#">Preview</a>
            </div>
          </div>



        <ng-include src="'views/sections/subscribe-form.html'"></ng-include>


    </div>

</header>
