<div id="features" class="icon-features">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 sp-icon-features-title">
            <h3>What makes Atom so great?</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 sp-icon-features-box">
            <span class="fa fa-upload fa-2x"></span>
            <h4>Lorem ipsum dolor!</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi consequat tincidunt semper.</p>
            <a href="#">Learn more <i class="icon ion-ios-arrow-thin-right"></i></a>
          </div>
          <div class="col-md-4 sp-icon-features-box">
            <span class="fa fa-lock fa-2x"></span>
            <h4>It's 100% safe</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vivamus eleifend vel tellus id viverra.</p>
            <a href="#">Learn more <i class="icon ion-ios-arrow-thin-right"></i></a>
          </div>
          <div class="col-md-4 sp-icon-features-box">
            <span class="fa fa-pie-chart fa-2x"></span>
            <h4>It's flexible</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vivamus eleifend vel tellus id viverra.</p>
            <a href="#">Learn more </a>
          </div>
        </div>


      </div>
    </div>
