<div class="pricing-table">
  <div class="container">

    <div class="row">
      <div class="col-md-4 sp-pricing-table-text">
        <h3>Start a free trial today, pick your plan later</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Vivamus eleifend vel tellus id viverra.</p>
        <a href="#">Download trial</a>
      </div>
      <div class="col-md-4 sp-pricing-table sp-pricing-table-first">
        <div>
          <span class="sp-pricing-icon icon ion-person"></span>
          <span class="sp-pricing-user">Single User</span>
          <span class="sp-pricing-price">$25</span>
          <span class="sp-pricing-time">per year</span>
          <ul>
            <li>Up to 22 </li>
            <li>Up to 33 </li>
            <li>all time</li>
          </ul>
          <a href="#" class="sp-pricing-button">Choose</a>
        </div>
      </div>
      <div class="col-md-4 sp-pricing-table sp-pricing-table-second">
        <div>
          <span class="sp-pricing-icon "></span>
          <span class="sp-pricing-user">Multipile users</span>
          <span class="sp-pricing-price">$129</span>
          <span class="sp-pricing-time">per month</span>
          <ul>
            <li>All the awesomeness</li>
            <li>All the awesomeness</li>
            <li>All the awesomeness</li>
            <li>All the awesomeness</li>
            <li>All the awesomeness</li>

          </ul>
          <a href="#" class="sp-pricing-button">Choose</a>
        </div>
      </div>
    </div>

  </div>
</div>
