<div id="showcase" class="product-showcase">

  <div class="container">

      <div class="row">
        <div class="col-md-4 sp-product-showcase-r">
          <h3>Lorem ipsum dolor sit amet</h3>
          <p>Quisque tempus vitae tortor ut luctus. Nullam in lacinia eros. Quisque tempus vitae tortor ut luctus. Nullam in lacinia eros. </p>

          <a  href="#">Learn More</a>
        </div>
        <div class="col-md-7 col-md-offset-1 sp-product-showcase-r-image">
          <img src="images/bg.jpg" alt="">
        </div>
      </div>

      <div class="row">
        <div class="col-md-7 sp-product-showcase-l-image">
          <img src="images/bg.jpg" alt="">
        </div>
        <div class="col-md-4 col-md-offset-1 sp-product-showcase-l">
          <h3>Lorem ipsum dolor sit amet</h3>
          <p>Quisque tempus vitae tortor ut luctus. Nullam in lacinia eros. Quisque tempus vitae tortor ut luctus. Nullam in lacinia eros. </p>
          <a href="#">Join Us</a>
        </div>
      </div>

    </div>
  </div>
