<div class="sp-trialform">
  <div class="row">
    <div class="col-sm-12">
      <h3>Subscribe and Stay Tuned.</h3>
      <form id="subForm">
      <div class="row">
        <div class="col-sm-4">
          <input type="text" value="" name="subForm-Fname" id="trial-name" placeholder="First Name">
        </div>
        <div class="col-sm-4">
          <input type="text" value="" name="subForm-Lname" id="trial-name" placeholder="Last Name">
        </div>
        <div class="col-sm-4">
          <div class="gender_goupe">
            <label class="radio-inline">
               <input type="radio" name="gender" value="M" id=male />Male
            </label>
            <label class="radio-inline">
               <input type="radio" name="gender" value="F" id=female />Female
            </label>
          </div>

        </div>

      </div>
      <div class="row">

        <div class="col-sm-8">
          <input type="text" value="" name="trial-email" id="trial-email" placeholder="E-mail" class="sp-trial-text-two">

        </div>
        <div class="col-sm-4">
            <input type="submit" value="Subscribe Now!" name="sub-submit">
        </div>
      </div>


      </form>

    </div>
  </div>
